{{/*
    Banner widget, generates a full-width responsive banner. Banners are stored in the
    data/vaytheme/banners/ folder.
    
    Usage :
        {{ $.Scratch.Set "banner" (dict "name" "main" "url" "/") }}
        {{ partial "widgets/banner.html" }}
    
    Each banner should have its own file, like data/vaytheme/banners/main.yaml:
    
        small: "/images/banner/small.png"
        medium: "/images/banner/medium.png"
        large: "/images/banner/medium.png"
        xlarge: "/images/banner/medium.png"
    
*/}}
{{ $params := $.Scratch.Get "banner" }}

<div class="header-banner">
	<a href="{{ cond (hasPrefix (urls.Parse $params.url).Scheme "http") $params.url ($params.url | relLangURL) }}" {{ if eq $params.url "/" }} rel="home"{{ end }}>
		<picture>
		    {{/* We have to range through a slice first so that values are in correct order */}}
		    {{/* When values don't range from smallest to biggest, Firefox doesn't do responsive image */}}
		    {{ range $i := slice (dict "small" "35.5") (dict "medium" "48") (dict "large" "64") (dict "xlarge" "80") }}
		        {{ range $screen, $size := $i }}
			        <source media="(max-width: {{ $size }}em)" srcset="{{ cond (hasPrefix (urls.Parse (index $.Site.Data.vaytheme.banners $params.name $screen)).Scheme "http") (index $.Site.Data.vaytheme.banners $params.name $screen) (index $.Site.Data.vaytheme.banners $params.name $screen | relURL) }}">
			    {{ end }}
		    {{ end }}
			<img alt="Default banner" src="{{ index .Site.Data.vaytheme.banners $params.name "medium" | relURL }}">
		</picture>
	</a>
</div>
