/*
 * Theme Name: LibreWP
 * Description: JS-free no-hassle timber theme
 * Author: Community
 * Text Domain: librewp
*/

/* Post titles (single view) */
.post #content h1, .post #content h2, .post #content h3, .post #content h4, .post #content h5, .post #content h6 { text-align: center; }

/* Post name (single/summary view) */
.post .published { margin-bottom: 1em; }

/* Generic styles */
* { overflow-wrap: break-word; }
a:hover, a:visited, a:link, a:active { text-decoration: none; color: inherit; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: "Fjalla One", sans-serif; }
p { overflow: hidden; }

/* Functions */
.center { text-align: center; }
.rawList { padding: 0; margin: 0; list-style: none; }
.fitImg { display: block; max-width: 100%; margin: auto; }
.scaleImg { width: 100%; }

/* Banner styles */
.header-banner source, .header-banner img { width: 100%; }

/* Navigation menu */
#menu-nav-main { text-align: center; font-size: 1.2rem; }
.pure-menu-link, .pure-menu-open { display: block; padding: 0.5em 1em; }
#menu-nav-main .pure-menu-children { left: 50% !important; transform: translateX(-50%); }

/* Making pureCSS menu responsive without Javascript */
.pure-menu-open, .pure-menu-close { display: none; }
@media screen and (max-width: 62em) {
	.pure-menu-open { display: block; }
	.pure-menu-navigation { display: none !important; }
	.pure-menu-open:target { display: none; }
	.pure-menu-open:target ~ .pure-menu-close { display: inline-block; }
	.pure-menu-open:target ~ .pure-menu-navigation { display: block !important; }
	.pure-menu-open:target ~ .pure-menu-navigation > .pure-menu-item { display: block; }
	.pure-menu-open:target ~ .pure-menu-navigation > .pure-menu-item > .pure-menu-children { display: block; background-color: #d10a07; position: relative; }
}

/* Wrapper (container) */
.wrapper { margin-left: var(--h-spacing); margin-right: var(--h-spacing); }

/* Sidebar */
.sidebar { padding-top: var(--v-spacing) }
.sidebar h2, .sidebar h3 { text-align: center; }

/* Sidebar translations */
.translations { text-align: center; }
.sidebar .events article:not(:first-child) h3 { margin-top: 0.5em; }

/* Post styles */
.post p, .post-summary p { text-align: justify; }
@media screen and (min-width: 48em) {
    .post-list, .post { margin-right: var(--h-spacing); }
}

/* Post (single view) */
.post h2, .post h3 { text-align: center; }

/* Post (summary view) */
.post-summary-content > div { text-align: justify; padding: 0 1em; }
.post-summary { padding-top: var(--v-spacing); padding-bottom: var(--v-spacing); }
.post-summary time { text-align: center; display: block; font-weight: bold; }
.post-summary p { margin-bottom: 0; }
.post-summary p:first-of-type { margin-top: 0.5em; }
.read-more { margin-top: 0.5em;	text-align: center; }

/* Pillar widget */
.pillar-widget { margin: 0 auto 0 auto; text-align: center; width: 90%; }
.pillar-widget > .pure-u-1 { padding: 1rem 0 1rem 0; }
.pillar-widget > .pure-u-1 ul { width: 90%; margin: auto; padding: 0.5rem 0 0 0; list-style-type: none; }

/* Post (grid summary) */
.post-grid-item { padding: var(--v-spacing) 0; }
.post-grid-content { text-align: center; }
.post-grid-image { width: 100%; }

@media screen and (min-width: 48em) {
    .post-grid-item .post-grid-image { height: auto; top: 0; right: 0; position: absolute; z-index: 0; }
    .post-grid-item .post-grid-content { margin: 4rem auto; color: white; min-height: 8rem; }
    .post-grid-item .post-grid-summary { z-index: -1; display: none; top: 50%; position: relative; }
    .post-grid-item .post-grid-title { z-index: 1; display: block; top: 50%; position: relative; }
    .post-grid-item:hover .post-grid-summary { z-index: 1; display: block; }
    .post-grid-item:hover .post-grid-title { z-index: -1; display: none; }
    .post-grid-item { padding: 0; }
}

/*          hvr-glow effect MIT License
https://github.com/IanLunn/Hover/blob/master/license.txt */
.hvr-glow {
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0); transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px transparent;
	-webkit-transition-duration:.3s; transition-duration:.3s;
	-webkit-transition-property:box-shadow;	transition-property:box-shadow
}
.hvr-glow:active,.hvr-glow:focus,.hvr-glow:hover {
	box-shadow:0 0 8px rgba(0,0,0,.6)
}

/* Pillar widget (new version) */
.widget-pillar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem 1rem;
    padding: 0 1rem;
}
