{{/*
    Agenda widget
    
    Usage :
        {{ $.Scratch.Set "agenda-radar" (dict "city" "Paris" "id" "143808" "days" "5" "api" "htp://radarapi.lan/") }}
        {{ partial "widgets/agenda/radar.html" }}

*/}}
{{ $params := $.Scratch.Get "agenda-radar" }}

<section class="events">
    <h2><a href="https://radar.squat.net/{{ .Lang }}/node/{{ $params.id }}">{{ i18n "upcoming_events" }}</a></h2>
    <hr>
    {{ $url := (printf "http://radarapi.lan/%s/%s/%s/%s" .Lang $params.city $params.id $params.days) }}
    {{ $days := getJSON $url }}
    {{ range $days }}
	<article>
	    {{ $date := index . 0 "date_time" 0 "time_start" }}
		{{ $date := time $date }}
		<h3>{{ i18n (printf "day_%d" $date.Weekday) }} {{ $date.Day }} {{ i18n (printf "month_%d" $date.Month) }}</h3>
	    {{ range . }}
	    	{{ $time := index . "date_time" 0 "time_start" }}
	        <a href="{{ index . "url" }}">{{ $time | dateFormat "15:04" }} {{ .title }}</a><br>
	    {{ end }}
    </article>
    {{ end }}
    <hr>
    <a href="https://radar.squat.net"><img alt="radar.squat.net" src="{{ "/images/radar.png" | relURL }}" class="fitImg"></a>
    <hr>
</section>
