<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
 <head>
  <meta charset="UTF-8" />
  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ "/css/pure-min.css" | relURL }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ "/css/grids-responsive-min.css" | relURL }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" type="text/css" media="screen" />
  <style>/* Here we put CSS variables generated from site config */
    body {
	    /* Margin between blocks */
	    {{ $style := .Site.Params.vaytheme.style }}
	    --v-spacing: {{ default "1" $style.verticalSpacing }}rem;
	    --h-spacing: {{ default "1" $style.horizontalSpacing }}rem;
    }
    {{ partial (printf "page/%s.css" (default "sidebar-right" .Site.Params.vaytheme.templates.page)) . | safeCSS }}
  </style>
 </head>
 <body>
   {{ range $a := $.Scratch.Get "vaytheme-areas" }}
     {{ if eq $a "main" }}
         {{ block "main" $ }}
         {{ end }}
     {{ else }}
        {{ $areaTemplate := printf "base/%s.html" $a }}
        {{ if fileExists (printf "themes/vaytheme/layouts/partials/%s" $areaTemplate) }}
            {{ partial $areaTemplate $ }}
        {{ else }}
            {{/* Add area placeholder or leave empty, depending on site config */}}
            {{ if (default true $.Site.Params.vaytheme.enablePlaceholders) }}
            <div style="grid-area: {{ $a }};">
                {{ $areaTemplate }}
            </div>
            {{ end }}
        {{ end }}
     {{ end }}
   {{ end }}
 </body>
</html>


