{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <article class="h-entry post pure-u-1 pure-g">
    	<div class="pure-u-1">
            <h1 class="title" style="padding-top: 0.5em;"><a class="p-name u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
    	    <h3 class="published"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format (i18n "publishdate") }}</i></time></h3>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    	<div class="pure-u-1 pure-u-md-3-4 e-content" id="content">
    	   {{ .Content }}
    	</div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    	<div class="pure-u-1 p-summary" style="display:none;">
    		{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}
	    </div>
	</article>
{{ end }}
