<article class="post-grid-item h-entry hvr-glow pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3" style="overflow: hidden;">
    <a class="u-url" href="{{ .Permalink }}">
        {{ if .Params.image }}<img class="u-photo post-grid-image" alt="{{ .Title }}" src="{{ $.Site.BaseURL }}images/{{ .Params.image }}">
        {{ else }}<img class="post-grid-image" alt="{{ .Title }}" src="{{ $.Site.BaseURL }}images/post.png">
        {{ end }}
    </a>
    <div class="post-grid-content">
        <div class="post-grid-title">
            <a href="{{ .Permalink }}">
                <h3 class="p-name">{{ .Title }}</h3>
            </a>
        </div>
        <div class="post-grid-summary">
            <p class="p-summary">{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
        </div>
        <div class="pure-u-1 read-more">
		    <a class="pure-button read-more-link">{{ i18n "readMore" }}</a>
	    </div>
    </div>
</article>
