<article class="h-entry post-summary hvr-glow pure-u-1 pure-g">
	<div class="pure-u-1 pure-u-md-1-3 post-summary-meta">
	    {{ if .Params.image }}<a a class="u-url" href="{{ $.Permalink }}"><img class="u-photo fitImg scaleImg" alt="{{ .Title }}" src="{{ $.Site.BaseURL }}images/{{ .Params.image }}"></a>
	    {{ else }}<a a class="u-url" href="{{ $.Permalink }}"><img class="fitImg scaleImg" alt="{{ .Title }}" src="{{ $.Site.BaseURL }}images/post.png"></a>
	    {{ end }}
	</div>
	<div class="pure-u-1 pure-u-md-2-3 post-summary-content">
		<div>
			<h3 class="title"><a class="u-url p-name" href="{{ .Permalink }}">{{ .Title }}</a></h3>
			<time class="dt-published published" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format (i18n "publishdate") }}</time>
			<p class="p-summary">{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
		</div>
	</div>
	{{ with .Params.tags }}
	<div class="pure-u-1 post-summary-tags">
		{{ range . }}
			<a class="pure-button" style="font-size: 0.75em;" href="{{ "tags/" | relLangURL }}{{ . | urlize }}"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ . }}</a>
		{{ end }}
	</div>
	{{ end }}
	<div class="pure-u-1 read-more">
		<a class="pure-button read-more-link">{{ i18n "readMore" }}</a>
	</div>
</article>
