{{/*
    Menu takes:
        - name (menu name)
    
    Optional arguments:
        - class (menu div class)
        - childClass (menu item class)
        - linkClass (menu item link class)

*/}}
{{ $params := $.Scratch.Get "menu" }}
{{/* $children := index .Site.Data.vaytheme.menus $params.name */}}
{{ $children := index .Site.Menus $params.name }}

<nav id="menu-{{ $params.name }}" class="widget-menu{{ with $params.class }} {{ . }}{{ end }}">
    <div class="pure-menu pure-menu-horizontal">
        <aside id="menu-{{ $params.name }}-open" class="pure-menu-open">
		    <a href="#menu-{{ $params.name }}-open">
			    <i class="fa fa-bars fa-2x"></i>
		    </a>
	    </aside>
	    <ul class="rawList pure-menu-list pure-menu-navigation">
            {{ $.Scratch.Set "menu-item" (dict "class" (default "" $params.childClass) "linkClass" (default "" $params.linkClass)) }}
	        {{ range $children }}
	            {{ $entryName := printf "%s-%s" $params.name (.Identifier | replaceRE "^[0-9]+\\." "") }}
	            {{ $link := i18n $entryName 1 }}
                <li class="pure-menu-item pure-menu-allow-hover {{ if .HasChildren }}pure-menu-has-children {{ end }}{{ with $params.itemClass }}{{ . }} {{ end }}">
                    <a class="pure-menu-link {{ with $params.linkClass }}{{ . }}{{ end }}" href="{{ cond (hasPrefix $link "http") $link ($link | relLangURL) }}">{{ i18n $entryName 2 }}</a>
                    {{ if .HasChildren }}
                    <ul class="pure-menu-children">
                        {{ range .Children }}
                            {{ $entryName := printf "%s-%s" $entryName (.Identifier | replaceRE "^[0-9]+\\." "") }}
                            {{ $link := i18n $entryName 1 }}
                            <li class="pure-menu-item"><a class="pure-menu-link {{ with $params.linkClass }}{{ . }}{{ end }}" href="{{ cond (hasPrefix $link "http") $link ($link | relLangURL) }}">{{ i18n $entryName 2 }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
	        {{ end }}
	    </ul>
	    <a href="#menu-nav-main" id="menu-nav-main-close" class="pure-menu-close">
	        <i class="fa fa-times fa-2x"></i>
	    </a>
    </div>
</nav>
