{{/*
    An item template takes at least these arguments:
        - name (item name) eg. nav-about
        - icon (fontAwesome icon name, can be empty)*
    
    Optional arguments:
        - markdown (set to true to ignore links and process content as Markdown)
        - class (menu item class)
        - linkClass (menu item link class)
        
    v-item does not support additional parameters.
*/}}
{{ $params := $.Scratch.Get "menu-item" }}
{{ $menuPath := (delimit (split $params.name "-") "/") }}
{{ $imageBase := printf "static/images/menus/%s" $menuPath }}

<li>
{{ if fileExists (printf "%s.jpg" $imageBase) }}
    {{ $.Scratch.SetInMap "menu-item" "image" (printf "%s.jpg" $imageBase) }}
	{{ partial "widgets/menu/v-image.html" . }}
{{ else if fileExists (printf "%s.png" $imageBase) }}
    {{ $.Scratch.SetInMap "menu-item" "image" (printf "%s.png" $imageBase) }}
	{{ partial "widgets/menu/v-image.html" . }}
{{ else }}
    {{ with $params.icon }}<i class="fa fa-{{ . }}"></i> {{ end }}{{ with $params.markdown }}{{ i18n $params.name 2 | markdownify }}{{ else }}{{ i18n $params.name 2 }}{{ end }}
{{ end }}
</li>
