{{/*
    Menu takes:
        - name (menu name)
    
    Optional arguments:
        - navigation (set to true to start a <nav> element)
        - class (menu div/nav class)
        - headerClass (menu header link class)
        - childClass (menu item class)
        - linkClass (menu item link class)
    
    h menu structure is as such :
        "icon": "faIconName"
        "items":
          "entry": "faIconName"
          "parentEntry":
            "icon": "faIconName"
            "items":
              "subEntry": "faIconName"
              "anotherOne": "faIconName"
*/}}
{{ $params := $.Scratch.Get "menu" }}
{{ $children := index .Site.Data.vaytheme.menus $params.name }}

{{ with $params.navigation }}
<nav id="menu-{{ $params.name }}" class="widget-menu{{ with $params.class }} {{ . }}{{ end }}">
{{ else }}
<div id="menu-{{ $params.name }}" class="widget-menu{{ with $params.class }} {{ . }}{{ end }}">
{{ end }}
    <a href="{{ i18n $params.name 1 }}" class="widget-menu-v-header{{ with $params.headerClass }} {{ . }}{{ end }}">
    {{ with $children.icon }}
        <div>
	        <i class="fa fa-4x fa-{{ . }}"></i>
        </div>
    {{ end }}
        <h3>{{ i18n $params.name 2 }}</h3>
    </a>
    <ul class="rawList">
    {{/* Here we parse the actual menu */}}
    {{ range $entry, $value := $children.items }}
        {{ $.Scratch.Set "menu-item" (dict "name" (printf "%s-%s" $params.name $entry) "class" (default "" $params.childClass) "linkClass" (default "" $params.linkClass)) }}
        {{ if eq "string" (printf "%T" $value) }}
            {{ $.Scratch.SetInMap "menu-item" "icon" $value }}
            {{ partial "widgets/menu/v-item.html" $ }}
        {{ else }}
            {{ $.Scratch.SetInMap "menu-item" "icon" $value.icon }}
            {{ range $subEntry, $icon := $value }}
                {{ $.Scratch.SetInMap "menu-item" "name" (printf "%s-%s-%s" $params.name $entry $subEntry) }}
                {{ $.Scratch.SetInMap "menu-item" "icon" $icon }}
                {{ partial "widgets/menu/v-item.html" $ }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ with $params.navigation }}
</nav>
{{ else }}
</div>
{{ end }}
