{{ $.Scratch.Set "vaytheme-areas" (slice "header" "main" "sidebar" "footer") }}
@supports (grid-area: auto) {
    @media screen and (min-width: 48em) {
        body {
            display: grid;
            grid-template-columns: {{ default "3" .Site.Params.vaytheme.mainWidth }}fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "header header"
                "main  sidebar"
                "footer footer";
        }
    }
}
