{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="pure-u-1">
    <nav class="pagination pure-g" role="navigation" style="font-size: 1.4rem;">
	    <div class="pure-u-1-4">
  	    {{ if $pag.HasNext }}
    	    {{ if gt $pag.TotalPages 3 }}<a class="oldest-posts" href="{{ $pag.Last.URL }}"><</a>{{ end }}
		    <a class="older-posts" href="{{ $pag.Next.URL }}">&larr;</a>
	    {{ end }}
	    </div>
	    <div class="pure-u-1-2">
	        {{ $n := 2 }}
	        {{ $f := cond (lt (sub $pag.PageNumber $n) 1) (sub $pag.PageNumber 1) $n }}
	        {{ $future := sub $pag.PageNumber $f }}
	        {{ $p := cond (gt (add $pag.PageNumber $n) $pag.TotalPages) (sub $pag.TotalPages $pag.PageNumber) $n }}
	        {{ $past := add $pag.PageNumber $p }}
	        
	        {{ range $i := seq (add $pag.PageNumber $n) (add $pag.PageNumber 1) }}
	            {{ if gt $i $past }}
	                &emsp;
	            {{ else }}
   	                {{ $page := index $pag.Pagers (sub $i 1) }}
	                <span class="page-number"><a href="{{ $page.URL }}">{{ $i }}</a></span>
	            {{ end }}
	        {{ end }}
	        
		    <span class="page-number">{{ $pag.PageNumber }}</span>
		    
		    {{ range $i := seq (sub $pag.PageNumber 1) (sub $pag.PageNumber $n) }}
	            {{ if lt $i $future }}
	                &emsp;
	            {{ else }}
	                {{ $page := index $pag.Pagers (sub $i 1) }}
	                <span class="page-number"><a href="{{ $page.URL }}">{{ $i }}</a></span>
	            {{ end }}
	        {{ end }}
		    
	    </div>
	    <div class="pure-u-1-4">
	    {{ if $pag.HasPrev }}
		    <a class="newer-posts" href="{{ $pag.Prev.URL }}">&rarr;</a>
		    {{ if gt $pag.TotalPages 3 }}<a class="newest-posts" href="{{ $pag.First.URL }}">></a>{{ end }}
	    {{ end }}
	    </div>
    </nav>
</div>
{{ end }}
