<header style="grid-area: header;">
    <div class="relme" style="display:none;">
        {{ with .Site.Data.vaytheme.about.email }}<a href="{{ . }}" rel="me">{{ . }}</a>{{ end }}
    </div>
    {{/* Calling the modifyable header template */}}
    {{ partialCached "header.html" . }}
</header>
