{{ $id := .Get 0 }}
<div style="position:relative;">
    <style scoped="scoped">
      a {
          display: block; position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          z-index: 1;
          background: url('/images/widgets/play-btn.png') no-repeat center center;
          background-size: 20%;
      }
      img {
          display: block; margin: auto; max-width: 100%;
      }
    </style>
    <img src="{{ printf "/external/youtube/%s.jpg" $id | relURL }}" alt="Youtube thumbnail {{ $id }}">
	<a href="https://youtube.com/watch?v={{ $id }}"></a>
</div>
